.profile__button-edit {
  background: url(../../../images/editbutton.svg);
  background-size: 10px 10px;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  margin-top: 15px;
  border: 1px solid #FFF;
  cursor: pointer;
  transition: .3s;
}

.profile__button-edit:hover {
  opacity: .6;
}

@media (max-width: 1023px) {
  .profile__button-edit {
    margin-top: 7px;
    width: 18px;
    height: 18px;
  }
}

@media (max-width: 645px) {
  .profile__button-edit {
    background-size: 7.5px 7.5px;
  }
}
