.popup__button-close {
  background-image: url(../../../images/Close-button.svg);
  width: 32px;
  height: 32px;
  top: -40px;
  right: -40px;
  position: absolute;
  border: none;
  margin: 0;
  cursor: pointer;
  background-color: transparent;
  transition: opacity .4s linear;
  background-size: contain;
}

.popup__button-close:hover {
  opacity: .6;
}

@media screen and (max-width: 767px){
  .popup__button-close{
    right: 0;
    width: 20px;
    height: 20px;
  }
}
