.element__button-delete {
  background-image: url(../../../images/Delete.svg);
  position: absolute;
  width: 18px;
  height: 19px;
  top: 20px;
  right: 20px;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.element__button-delete:hover {
  opacity: 0.5;
}
